{
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsdoc/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "jsdoc": {
      "mode": "typescript",
      "tagNamePreference": {
        "tag constructor": "constructor"
      }
    }
  },
  "rules": {
    "curly": ["error", "multi-or-nest"],
    "no-trailing-spaces": ["error", {
      "skipBlankLines": true,
      "ignoreComments": true
    }],
    "spaced-comment": ["error", "always", {
      "markers": ["#region", "#endregion"]
    }],
    "space-before-function-paren": 0,
    "jsdoc/valid-types": 0,
    "jsdoc/require-jsdoc": 0,
    "n/no-callback-literal": 0,
    "react/jsx-no-bind": ["error", {
      "allowArrowFunctions": true,
      "allowBind": false,
      "ignoreRefs": true
    }],
    "react/no-did-update-set-state": "error",
    "react/no-unknown-property": "error",
    "react/no-unused-prop-types": "error",
    "react/react-in-jsx-scope": "error",
    "react/prop-types": 0,
    "react/jsx-closing-tag-location": 0,
    "react/jsx-closing-bracket-location": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0
  }
}
