{
  "extends": [
    "standard",
    "react-app",
    "plugin:jsdoc/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "jsdoc": {
      "mode": "typescript",
      "tagNamePreference": {
        "tag constructor": "constructor"
      }
    }
  },
  "rules": {
    "curly": ["error", "multi-or-nest"],
    "no-trailing-spaces": ["error", {
      "skipBlankLines": true,
      "ignoreComments": true
    }],
    "spaced-comment": ["error", "always", {
      "markers": ["#region", "#endregion"]
    }],
    "space-before-function-paren": 0,
    "jsdoc/valid-types": 0,
    "jsdoc/require-jsdoc": 0,
    "n/no-callback-literal": 0
  }
}
