@use "~react-select-table/src/scss/style";

#app {
  background-color: #f5f5f5;
  padding: 1rem;
  box-sizing: border-box;
  min-height: 100vh;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  user-select: none;

  button, .input-group, .break {
    margin: 0 1rem 0.5rem 0;
  }
}

label+input {
  margin-left: 0.25rem;
}

.break {
  width: 100%;
}

.rst-container {
  height: 80vh;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}
