$head-cell-padding: 5rem;

@use "~react-select-table/src/scss";

@import "~bootstrap/scss/bootstrap";

#app {
    height: 100vh;
    background-color: #f5f5f5;
}

#example {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rst-container {
    flex: auto;
}
