@import "~bootstrap/scss/bootstrap";
@import "./rst";

.custom-table-dark {

}

#app {
    height: 100vh;
    background-color: aliceblue;
}

#example {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rst-container {
    flex: auto;
}
