.react-select-table {
    height: 100%;

    $seperator-width: 6px;

    table {
        width: 100%;
        table-layout: fixed;   
    }

    thead th {
        padding: 0;
    }

    tr {
        border-top: 1px solid gainsboro;

        &:hover {
            background-color: #e0e0e0;
          }
          &.active {
            box-shadow: inset 0 -2px 0 #b1cc97;
          }
          &.selected {
            background-color: #c4d9b1;
          }
    }

    .title, .content {
        padding: 0.75rem;
        overflow: hidden;
    }

    .header {
        display: flex;

        &[data-resizing=true] .title {
            cursor: col-resize !important;
        }

        .column {     
            user-select: none;
            position: relative;
            overflow: hidden;

            &:first-child > .seperator {
                display: none;     
            }
        }

        .title {
            font-weight: bold;
            white-space: nowrap;

            &[data-sortable=true] {
                cursor: pointer;
            }
        }

        .seperator {
            position: absolute;
            left: 0;
            top: 0;        
            width: $seperator-width;
            height: 100%;
            opacity: 0;  
            cursor: col-resize;
        }
    }


}