$primary: #c4d9b1;
$primary-light: #d3dbcd;
$primary-dark: #b1cc97;

$bg: #F5F5F5;
$bg-dark: #F2F2F2;

$text-light: #8e8e90;
$text: #616161;
$text-dark: #333333;

@mixin activeShadow($color) {
    box-shadow: inset 0 -2px 0 0 $color;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    user-select: none;

    table {
        width: 100%;
        table-layout: fixed;
        margin-bottom: 0;
        border-collapse: separate;
        border-spacing: 0;
    }

    td, th {
        overflow: hidden;
        white-space: nowrap;
    }

    &:not(:focus-within) tr {
        &.active {
            @include activeShadow($primary);
        }

        &.selected {
            background-color: $primary-light;
        }
    }
}

.tableContainer {
    flex: auto;
    overflow: auto;
}

.headContainer {
    flex: none;
    position: sticky;
    top: 0;
    z-index: 1;
    outline: none;
    background-color: $bg;

    th {
        white-space: nowrap;
        position: relative;

        &[data-sortable] {
            cursor: pointer;
        }
    }

    thead[data-resizing] th {
        cursor: col-resize !important;
    }
}

.bodyContainer  {
    flex: auto;
    outline: none;
    z-index: 0;

    tr {
        &:first-child > * {
            border-top: none;
        }

        &:hover {
            background-color: $bg-dark;
        }

        &.active {
            @include activeShadow($primary-dark);
        }

        &.selected {
            background-color: $primary;
        }
    }
}

.separator {
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    cursor: col-resize;

    &:active {
        border-right: 1px dotted black;
    }
}

.selection {
    position: absolute;
    border: 1px solid blue;
    background-color: lightskyblue;
    opacity: 0.5;
    pointer-events: none;
}

.sortIcon {
    height: 1.25rem;
    vertical-align: text-top;
    fill: currentColor;
    display: none;

    &[data-order] {
        display: inline-block;
    }

    &[data-order=desc] {
        transform: rotate(180deg);
    }
}

.placeholder {
    height: 100%;
}

.pagination {
    margin-top: 1rem;
    flex: none;
}
