.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    user-select: none;

    table {
        width: 100%;
        table-layout: fixed;   
        margin-bottom: 0;    
    }

    td, th {
        overflow: hidden;
    }
}

.headContainer {  
    thead[data-resizing=true] th {
        cursor: col-resize;
    }

    th {
        white-space: nowrap;
        position: relative;

        &:empty:only-child {
            display: none;
        }

        &[data-sortable=true] {
            cursor: pointer;
        }
    }
}

.bodyContainer  {
    position: relative;
    flex: auto;
    overflow-y: auto;

    thead th {
        padding: 0;
        border: none !important;
    }

    tr:hover {
        background-color: #e0e0e0;
    }
    
    tr.active {
        box-shadow: inset 0 -2px 0 #b1cc97;
    }
    
    tr.selected {
        background-color: #c4d9b1;
    }

    tr:first-child > * {
        border-top: none;
    }
}

.tableContainer {
    outline: none;
    min-height: 100%;
}

.scrollMargin {
    padding: 0 !important;
}

.seperator {
    position: absolute;
    left: 0;
    top: 0;        
    width: 6px;
    height: 100%;
    cursor: col-resize;

    &:active {
        border-left: 1px dotted black;
    }
}

.selection {
    border: 1px solid blue;
    background-color: lightskyblue;
    opacity: 0.5;
    pointer-events: none;
}

.sortIcon {
    height: 1.25em;
    margin-left: 0.25rem;
    vertical-align: text-top;

    &[data-order=desc] {
        transform: rotate(180deg);
    }
}
