@function rst-get-name($module, $property) {
    @return --#{$rst-prefix}-#{$module}_#{$property}
}

@function rst-get($module, $property) {
    $name: rst-get-name($module, $property);
    @return var($name);
}

@function rst-nth-or-default($list, $n, $default: null) {
    @if length($list) >= $n {
        @return nth($list, $n);
    }

    @return $default;
}

@function rst-split($string, $separator, $list: ()) {
    $index: str-index($string, $separator);
    @if $index == null {
        @return append($list, $string);
    }

    $start: str-slice($string, 1, $index - 1);
    $end: str-slice($string, $index + 1, -1);
    $list: append($list, $start);

    @return rst-split($end, $separator, $list);
}

@function rst-join($list, $separator) {
    $result: "";
    @each $item in $list {
        @if type-of($item) == "string" {
            $result: $result + $item + $separator;
        }
    }

    @return str-slice($result, 1, -1 - str-length($separator));
}

@function rst-inset-border($width, $color, $side) {
    $offsets: (
        top: 0 $width,
        right: calc(#{$width} * -1) 0,
        bottom: 0 calc(#{$width} * -1),
        left: $width 0
    );

    @return inset map-get($offsets, $side) 0 0 $color;
}
