.rst-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    user-select: none;
    outline: none;

    table {
        width: 100%;
        table-layout: fixed;
        user-select: none;
        border-collapse: collapse;
    }
}

.rst-search {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;

    input {
        border: none;
        outline: none;
        background: none;
    }

    button {
        line-height: 0;
    }

    .rst-separator {
        align-self: stretch;
    }
}

.rst-searchContainer {
    position: absolute;
    z-index: 2;
    transition: transform 0.25s;
    transform: translateY(-100%);

    &.is-visible {
        transform: translateY(0);
    }
}

.rst-scrollingContainer {
    position: relative;
    flex: auto;
    overflow: auto;

    &[data-dragmode=resize] {
        cursor: col-resize;
    }

    &[data-dragmode=select] {
        cursor: default;
    }
}

.rst-resizingContainer {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    contain: paint;

    min-height: 100%;
}

.rst-headContainer {
    flex: none;
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 1;

    th {
        padding: 0;
        position: relative;
        overflow: visible;
    }

    .rst-spacer {
        .rst-columnSeparator {
            left: unset;
            right: 100%;
        }

        .rst-columnResizer {
            transform: none;
        }
    }
}

.rst-sortable .rst-headerText {
    cursor: pointer;
}

.rst-headerText {
    overflow: hidden;
    text-overflow: ellipsis;
}

.rst-headerContent {
    height: 100%;
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    overflow: hidden;
}

.rst-bodyContainer {
    position: relative;
    flex: auto;
    z-index: 0;

    //Hack to crop body container based on head container (Part 1)
    max-width: 100%;

    tr:first-child > * {
        border-top: none;
    }

    td, th {
        overflow: hidden;
    }

    .rst-spacer {
        box-sizing: border-box;
    }
}

.rst-bodyPlaceholder {
    width: 100%;
    height: 100%;
    position: absolute;
}

.rst-columnResizer {
    position: absolute;
    top: 0;
    right: 0;
    cursor: col-resize;
    touch-action: none;
    height: 100%;
    z-index: 1;
    transform: translateX(50%);
}

.rst-resizing .rst-columnResizer {
    transform: none;
}

.rst-columnResizerHider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.rst-columnSeparator {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.rst-dragSelection {
    display: none;
    position: absolute;
    pointer-events: none;
}

.rst-icon {
    height: 1rem;
    display: inline-flex;
    align-items: center;
    fill: currentColor;

    svg {
        width: 1rem;
    }
}

.rst-paginationContainer {
    flex: none;
}

.rst-pagination {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
}

.rst-page {
    text-align: center;
    box-sizing: content-box;
    color: inherit;
    display: block;
}
