.rst-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    user-select: none;
    outline: none;

    table {
        width: 100%;
        table-layout: fixed;
        user-select: none;
        border-collapse: separate;
        border-spacing: 0;
    }

    td, th {
        white-space: nowrap;
        overflow: hidden;
    }
}

.rst-search {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;

    input {
        border: none;
        outline: none;
        background: none;
    }

    button {
        line-height: 0;
        height: 100%;

        .rst-icon {
            height: 100%;
            width: auto;
            max-width: 100%;
        }
    }
}

.rst-searchContainer {
    position: absolute;
    z-index: 2;
    transition: transform 0.25s;
    transform: translateY(-100%);

    &.is-visible {
        transform: translateY(0);
    }
}

.rst-cursorOverlay {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    &[data-mode=resizing] {
        cursor: col-resize;
    }

    &[data-mode=selecting] {
        cursor: default;
    }
}

.rst-scrollingContainer {
    position: relative;
    flex: auto;
    overflow: auto;
}

.rst-resizingContainer {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.rst-headContainer {
    flex: none;
    position: sticky;
    top: 0;
    z-index: 1;

    th {
        white-space: nowrap;
        position: relative;

        span.is-sortable {
            cursor: pointer;
        }
    }
}

.rst-bodyPlaceholder {
    width: 100%;
    height: 100%;
    position: absolute;
}

.rst-bodyContainer {
    position: relative;
    flex: auto;
    z-index: 0;
}

.rst-columnResizer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    cursor: col-resize;
}

.rst-dragSelection {
    display: none;
    position: absolute;
    pointer-events: none;
}

.rst-icon {
    max-width: 1rem;
    width: 100%;
    vertical-align: text-bottom;
    fill: currentColor;
}

.rst-paginationContainer {
    flex: none;
}

.rst-pagination {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
}

.rst-page {
    text-align: center;
    box-sizing: content-box;
    color: inherit;
}
