$rst-prefix:            rst- !default;

$rst-striped-order:     even !default;

$rst-config:            () !default;

$rst-config: map-merge((
    //Naming convention: element_property
    "body-placeholder_color":                   #616161,
    "body-placeholder_padding":                 1rem,
    "body-placeholder_text-align":              center,

    "root-container_margin":                    0 0 1rem 0,

    "th_font-weight":                           bold,

    "search-container_padding":                 2px 12px 12px 2px,
    "search-container_width":                   400px,

    "search_padding":                           0.5rem 1rem,
    "search_border":                            1px solid rgba(#a3a5a5, 0.5),
    "search_border-radius":                     0.25rem,
    "search_item-spacing":                      0.5rem,
    "search_background-color":                  #f7f7f7,
    "search_color":                             #333333,
    "search_box-shadow":                        2px 2px 10px rgba(#000, 0.2),

    "search-matches_color":                     #616161,
    "search-matches_border":                    1px solid,

    "search-btn_padding":                       0.35rem,
    "search-btn_border":                        none,
    "search-btn_border-radius":                 50%,
    "search-btn_color":                         inherit,
    "search-btn_background-color":              transparent,

    "search-btn_hover_background-color":        #dee2e6,
    "search-btn_hover_border-color":            null,
    "search-btn_hover_color":                   null,

    "head_border":                              1px solid rgba(#a3a5a5, 0.5),
    "head_vertical-align":                      middle,
    "head_text-align":                          left,
    "head_padding":                             0.75rem,
    "head_background-color":                    #f7f7f7,
    "head_color":                               #616161,

    "header_border-width":                      2px,

    "sort-icon_margin":                         0 0.25rem,

    "body_border":                              1px solid rgba(#bdc5cd, 0.5),
    "body_vertical-align":                      middle,
    "body_text-align":                          left,
    "body_padding":                             0.75rem,
    "body_background-color":                    transparent,
    "body_color":                               #333333,

    "column-resizer_width":                     0.75rem,
    "column-resizer_background-color":          transparent,
    "column-resizer_active_background-color":   rgba(#afafaf, 0.5),

    "row-selected_overlay":                     rgba(#a7b79b, 0.5),
    "row-selected_focused_overlay":             rgba(#89b363, 0.5),

    "row-selected_color":                       inherit,
    "row-selected_focused_color":               null,

    "row-selected_border-color":                rgba(#f5f5f5, 0.5),
    "row-selected_focused_border-color":        null,

    "row_underline-width":                      3px,

    "row-active_underline":                     rgba(#a7b79b, 0.875),
    "row-active_focused_underline":             rgba(#89b363, 0.875),

    "row-striped_overlay":                      rgba(#afafaf, 0.1),
    "row-striped_color":                        inherit,

    "row-hover_overlay":                        rgba(#7d7d7d, 0.1),
    "row-hover_color":                          inherit,

    "drag-selection_border":                    1px solid rgba(#89b363, 0.5),
    "drag-selection_border-radius":             0.25rem,
    "drag-selection_background-color":          rgba(#89b363, 0.25),

    "pg_padding":                               1rem 0 0 0,
    "pg_color":                                 #616161,
    "pg_item-spacing":                          0.25rem,

    "pg-item_padding":                          0.25rem 0.5rem,

    "pg-page_width":                            2ch,

    "pg-btn_border":                            none,
    "pg-btn_border-radius":                     0.25rem,
    "pg-btn_background-color":                  transparent,
    "pg-btn_color":                             #333333,

    "pg-btn_disabled_background-color":         transparent,
    "pg-btn_disabled_color":                    rgba(#333333, .5),
    "pg-btn_disabled_border-color":             null,

    "pg-btn_hover_background-color":            #dee2e6,
    "pg-btn_hover_color":                       null,
    "pg-btn_hover_border-color":                null,

    "pg-btn_current_background-color":          #c4d9b1,
    "pg-btn_current_color":                     null,
    "pg-btn_current_border-color":              null,

), $rst-config);


