$rst-prefix:            rst- !default;

$rst-striped-order:     even !default;

$rst-config: () !default;
$rst-config: map-merge((
    //Naming convention: element_property

    //Layout -----------------------------------------------------------------------------

    "head_border":                              1px solid rgba(#a3a5a5, 0.5),
    "head_vertical-align":                      middle,
    "head_text-align":                          left,
    "head_padding":                             0.75rem,

    "body_border":                              1px solid rgba(#bdc5cd, 0.5),
    "body_vertical-align":                      middle,
    "body_text-align":                          left,
    "body_padding":                             0.75rem,

    "header_border-width":                      2px,

    "th_font-weight":                           bold,

    "row_underline-width":                      3px,

    "column-resizer_width":                     0.75rem,

    "drag-selection_border":                    1px solid rgba(#89b363, 0.5),
    "drag-selection_border-radius":             0.25rem,

    "table-placeholder_padding":                1rem,
    "table-placeholder_text-align":             center,

    "body-placeholder_padding":                 1rem,
    "body-placeholder_text-align":              center,

    "sort-icon_margin":                         0 0.25rem,

    "pg_margin":                                1rem 0 0 0,

    "pg-btn_padding":                           0.25rem 0.5rem,
    "pg-btn_border-radius":                     0.2rem,
    "pg-btn_spacing":                           2px,
    "pg-btn_width":                             2ch,

    "container_margin":                         0 0 1rem 0,

    "search_left":                              2px,
    "search_height":                            3rem,
    "search_width":                             400px,
    "search_padding":                           0.5rem 1rem,
    "search_border":                            1px solid rgba(#a3a5a5, 0.5),
    "search_border-radius":                     0.25rem,
    "search_spacing":                           0.5rem,

    "search-matches_border":                    1px solid currentColor,

    "search-visible_top":                       2px,
    "search-visible_box-shadow":                2px 2px 10px rgba(#000, 0.2),

    "search-btn_padding":                       0.25rem,
    "search-btn_border":                        none,
    "search-btn_border-radius":                 50%,

    //Theme ------------------------------------------------------------------------------

    "search_background-color":                  #f7f7f7,
    "search_color":                             #333333,

    "search-matches_color":                     #616161,

    "search-btn_color":                         inherit,
    "search-btn_background-color":              transparent,

    "search-btn-hover_background-color":        #dee2e6,
    "search-btn-hover_border-color":            inherit,

    "head_background-color":                    #f7f7f7,
    "head_color":                               #616161,

    "body_background-color":                    transparent,
    "body_color":                               #333333,

    "column-resizer-active_background-color":   rgba(#afafaf, 0.5),

    "row-selected_overlay":                     rgba(#a7b79b, 0.5),
    "row-selected_color":                       inherit,
    "row-selected_border-color":                rgba(#f5f5f5, 0.5),

    "row-selected-focused_overlay":             rgba(#89b363, 0.5),
    "row-selected-focused_color":               rst-get("row-selected_color"),
    "row-selected-focused_border-color":        rst-get("row-selected_border-color"),

    "row-active_underline":                     rgba(#a7b79b, 0.875),

    "row-active-selected_underline":            rst-get("row-active_underline"),

    "row-active-focused_underline":             rgba(#89b363, 0.875),

    "row-active-selected-focused_underline":    rst-get("row-active-focused_underline"),

    "row-striped_overlay":                      rgba(#afafaf, 0.1),
    "row-striped_color":                        inherit,

    "row-hover_overlay":                        rgba(#7d7d7d, 0.1),
    "row-hover_color":                          inherit,

    "drag-selection_background-color":          rgba(#89b363, 0.25),

    "pg_color":                                 #333333,

    "pg-btn_background-color":                  transparent,

    "pg-btn-disabled_background-color":         transparent,
    "pg-btn-disabled_color":                    rgba(#333333, .5),
    "pg-btn-disabled_border-color":             inherit,

    "pg-btn-hover_background-color":            #dee2e6,
    "pg-btn-hover_color":                       inherit,
    "pg-btn-hover_border-color":                inherit,

    "pg-btn-current_background-color":          #c4d9b1,
    "pg-btn-current_color":                     inherit,
    "pg-btn-current_border-color":              inherit,

), $rst-config);
