%common {
    td, th {
        padding: 0.75rem;
    }
}

%head {
    .rst-headContainer {
        background-color: getColor("head-bg");
        color: getColor("head-text");
        border-bottom: 2px solid getColor("head-border");
    }
}

%body {
    .rst-bodyContainer {
        background-color: getColor("body-bg");
        color: getColor("body-text");
    }
}

%rows {
    .rst-bodyContainer tr {
        border-bottom: 1px solid getColor("row-border");

        &:hover {
            background-color: getColor("row-hover-bg");
        }

        &.rst-active {
            @include activeShadow(getColor("row-active-shadow"));
        }

        &.rst-selected {
            background-color: getColor("row-selected-bg");
        }
    }

    .rst-scrollingContainer:not(:focus-within) tr {
        &.rst-active {
            @include activeShadow(getColor("row-active-shadow-light"));
        }

        &.rst-selected {
            background-color: getColor("row-selected-bg-light");
        }
    }
}

%separator {
    .rst-separator {
        transition: background-color 150ms;

        &:hover, &:active {
            background-color: getColor("separator");
        }
    }
}

%selection {
    .rst-selection {
        border: 1px solid getColor("selection-border");
        background-color: getColor("selection-bg");
        opacity: 0.5;
    }
}
