.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    outline: none;
    user-select: none;

    table {
        width: 100%;
        table-layout: fixed;
        user-select: none;
        margin: 0;
    }

    td, th {
        overflow: hidden;
        white-space: nowrap;
    }
}

.scrollingContainer {
    position: relative;
    flex: auto;
    overflow: auto;
    outline: none;
}

.resizingContainer {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.headContainer {
    flex: none;
    position: sticky;
    top: 0;
    z-index: 1;

    th {
        z-index: 1;
        white-space: nowrap;
        position: relative;

        &[data-path] {
            cursor: pointer;
        }
    }
}

.resizing {
    @include cursorOverride(col-resize);
}

.selecting {
    @include cursorOverride(default);
}

.bodyContainer {
    flex: auto;
    z-index: 0;
}

.separator {
    width: 10px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    cursor: col-resize;
}

.selection {
    position: absolute;
    pointer-events: none;
}

.sortIcon {
    height: 1.25em;
    vertical-align: text-top;
    margin-left: 0.25rem;
    fill: currentColor;
    display: none;

    &[data-order] {
        display: inline-block;
    }

    &[data-order=desc] {
        transform: rotate(180deg);
    }
}

.paginationContainer {
    flex: none;
}

%pageNavButton {
    height: 1.25em;
    vertical-align: top;
    fill: currentColor;
}

.nextPage {
    @extend %pageNavButton;
    transform: rotate(90deg);
}

.prevPage {
    @extend %pageNavButton;
    transform: rotate(-90deg);
}

.pagination {

}

.error {
    padding-top: 1rem;
    width: 100%;
    text-align: center;
}

.table {
    @extend %common;
    @extend %head;
    @extend %body;
    @extend %rows;
    @extend %separator;
    @extend %selection;
}
