@use "mixins" as *;

.rst-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    user-select: none;

    table {
        width: 100%;
        table-layout: fixed;
        user-select: none;
    }

    td, th {
        overflow: hidden;
        white-space: nowrap;
    }
}

.rst-scrollingContainer {
    position: relative;
    flex: auto;
    overflow: auto;
}

.rst-resizingContainer {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.rst-headContainer {
    flex: none;
    position: sticky;
    top: 0;
    z-index: 1;

    th {
        z-index: 1;
        white-space: nowrap;
        position: relative;

        &[data-path] {
            cursor: pointer;
        }
    }
}

.rst-tablePlaceholder, .rst-bodyPlaceholder {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.rst-resizing {
    @include cursorOverride(col-resize);
}

.rst-selecting {
    @include cursorOverride(default);
}

.rst-bodyContainer {
    flex: auto;
    z-index: 0;
}

.rst-separator {
    width: 10px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    cursor: col-resize;
}

.rst-selection {
    position: absolute;
    pointer-events: none;
}

%rst-centeredIcon {
    height: 1.5rem;
    padding: 0.1rem 0;
    vertical-align: top;
    fill: currentColor;
}

.rst-sortIcon {
    @extend %rst-centeredIcon;

    margin-left: 0.25rem;
    display: none;

    &[data-order] {
        display: inline-block;
    }

    &[data-order=desc] {
        transform: rotate(180deg);
    }
}

.rst-paginationContainer {
    padding-top: 1rem;
    flex: none;
}

.rst-pagination {
    @mixin pageNavigation($rotation) {
        @extend %rst-centeredIcon;
        transform: rotate($rotation);
    }

    .rst-nextPage {
        @include pageNavigation(90deg);
    }

    .rst-prevPage {
        @include pageNavigation(-90deg);
    }

    button, div {
        display: inline-block;
        text-align: center;
        width: 2ch;
        box-sizing: content-box;
        padding: 0.25rem 0.5rem;
    }

    button {
        background: none;
        border: none;
        color: inherit;
        border-radius: 2px;

        &:disabled {
            pointer-events: none;
        }

        &:first-child, &:last-child {
            width: auto;
        }
    }
}

%rst-pagination {
    @include pagination();
    @include pagination-current();
    @include pagination-hover();
    @include pagination-active();
}

%rst-base {
    @extend %rst-pagination;

    @include row-active();
    @include row-selected();
    @include separator();
    @include selection();
}

.rst-striped {
    @include row-striped();
}

.rst-table {
    @include head();
    @include body();
    @include row-hover();

    @extend %rst-base;
}

.rst-bootstrapTable {
    @extend %rst-base;

    table {
        margin-bottom: 0;
    }

    tbody tr:first-child > * {
        border-top: none;
    }

    .rst-headContainer {
        background-color: white;
    }
}
