//Rows
$selected-bg-unfocused: #d3dbcd;
$active-shadow-unfocused: #c4d9b1;

$selected-bg: #c4d9b1;
$active-shadow: #b1cc97;

$hover-bg: #F2F2F2;

//Header
$header-bg: #F5F5F5;

//Separator
$separator-bg: gainsboro;

//Selection
$selection-border: blue;
$selection-bg: lightskyblue;
